@import "tailwindcss";

@font-face {
  font-family: "Fifties Movies";
  src: url("/fonts/Fifties Movies.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.tooltip {
  font-size: 6px;
  color: black;
  text-shadow: none;
  background: white;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
}

body {
  background-color: black;
  font-family: "Fifties Movies", sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
